<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lancy.utils"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <!-- 文件操作权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  
  	<!-- 访问网络 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- 网络下载 -->
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
	
	<!-- 获取当前任务 -->
	<uses-permission android:name="android.permission.GET_TASKS"/>
	
	<!-- 拦截home建 -->
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lancy.utils.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 图片处理 -->
      <activity android:name="com.lancy.utils.imageUI.ImageActivity"></activity>  
       <activity android:name="com.lancy.utils.imageUI.CropImage"></activity>  
        <activity android:name="com.lancy.utils.imageUI.ActionSheet"
            android:theme="@style/MyDialogStyleBottom"
            android:screenOrientation="portrait"
            ></activity>  
        
        <!-- listview搜索 -->
        <activity android:name="com.lancy.utils.filter.Listviewfilter"></activity>
        
        <!-- applock 应用锁 -->
        <activity android:name="com.lancy.utils.applock.Applock"
             android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>
        <activity android:name="com.lancy.utils.applock.ApplockActivity"></activity>
        <receiver android:name="com.lancy.utils.applock.PlanReceiver"></receiver>
        <service android:name="com.lancy.utils.applock.appLockServer"></service>
        
        <!-- home建 -->
         <activity android:name="com.lancy.utils.homecode.ComtrolHomeActivity"
            
             ></activity>
         <activity android:name="com.lancy.utils.homecode.homelock"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
             ></activity>
         <receiver android:name="com.lancy.utils.homecode.ControlhomeReceiver"></receiver>
        <service android:name="com.lancy.utils.homecode.controlHomeServer"></service>
        
        <!-- root权限相关 -->
        <activity android:name="com.lancy.utils.root.RootActivity"
             ></activity>
        
        
      </application>
      
    
    

</manifest>
